<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.musinsa.api.common.mapper.SearchMapper">

    <select id="fetchAllGoods" resultType="com.musinsa.api.goods.model.Goods">
        SELECT
            b.brand_name,
            g.category_name,
            g.price
        FROM
            goods g
        JOIN
            brand b ON g.brand_id = b.brand_id;
    </select>

    <select id="fetchBrandGoodsByCategory" parameterType="string" resultType="com.musinsa.api.goods.model.Goods">
        SELECT b.brand_name,
               g.price
        FROM goods g
                 JOIN
             brand b ON g.brand_id = b.brand_id
        WHERE g.category_name = #{categoryName}
    </select>

</mapper>